* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
}

canvas {
  position: absolute;
  z-index: -1;
  outline: none;
  mix-blend-mode: darken;
}

.form__heading {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.form-row {
  display: flex;
  gap: 8px;
  align-items: center;
}

.form-row__grow {
  flex-grow: 1;
}

.button {
  appearance: none;
  border: none;
  height: 32px;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px #0004;
}

.button:active {
  background-color: #f8f8f8;
}

.button--checked {
  background-color: rgb(93, 177, 255);
  color: #fff;
}

.button--primary {
  background-color: rgb(93, 177, 255);
  color: #fff;
}

.button--primary:active {
  background-color: rgb(72, 156, 235);
}

.reset-button {
  margin-right: auto;
}

.text-field {
  height: 32px;
  border: 1px solid #aaa;
  padding: 0 8px;
  border-radius: 4px;
}

.text-field--invalid {
  border-color: #f64;
  border-width: 2px;
}

.background {
  position: absolute;
  inset: 0;
  top: -64px;
  margin: auto;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  z-index: -1;
  object-fit: cover;
}

.background[src=""] {
  display: none;
}

.dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: #fff;
  width: 480px;
  height: fit-content;
  border-radius: 16px;
  display: none;
  box-shadow: 0 4px 8px #0004;
  overflow: hidden;
}

.dialog__footer {
  display: flex;
  justify-content: right;
  gap: 8px;
  padding: 16px;
  background-color: #eee;
}

.dialog__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
  padding: 16px 8px;
}

.dialog__title {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1;
}

.dialog__body {
  padding: 0 16px;
  margin-bottom: 32px;
}

.dialog--open {
  display: block;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 0 24px;
  height: 56px;
  border-radius: 48px;
  background-color: #0008;
  color: #fff;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.event-list {
  padding: 0;
  overflow: scroll;
  height: 320px;
}

.event {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  border-bottom: 1px solid #0002;
  padding: 16px 0;
}

.event__title {
  flex-grow: 1;
  margin: 0;
  font-weight: 400;
}

.event__detail {
  width: 100%;
}