* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

canvas {
  position: absolute;
  z-index: -1;
  outline: none;
  mix-blend-mode: darken;
}

.button {
  appearance: none;
  border: none;
  height: 32px;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px #0004;
}

.button:active {
  background-color: #f8f8f8;
}

.text-field {
  height: 32px;
  border: 1px solid #aaa;
  padding: 0 8px;
  border-radius: 4px;
}

.text-field--invalid {
  border-color: #f64;
  border-width: 2px;
}

.background {
  position: absolute;
  inset: 0;
  top: -64px;
  margin: auto;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  z-index: -1;
  object-fit: cover;
}

.background[src=""] {
  display: none;
}

.menu {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: #fff;
  width: 480px;
  height: fit-content;
  border-radius: 16px;
  display: none;
  box-shadow: 0 4px 8px #0004;
  overflow: hidden;
}

.menu__footer {
  display: flex;
  justify-content: right;
  gap: 8px;
  padding: 16px;
  background-color: #eee;
}

.menu__header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 32px;
}

.menu__title {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1;
}

.menu__form {
  padding: 0 16px;
  margin-bottom: 32px;
}

.menu__heading {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.menu--open {
  display: block;
}

.footer {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 0 24px;
  height: 56px;
  border-radius: 48px;
  background-color: #0008;
  color: #fff;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
