* {
  box-sizing: border-box;
}

.menu {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: #fff;
  width: 480px;
  height: fit-content;
  border-radius: 8px;
  padding: 16px;
  display: none;
}

.menu--open {
  display: block;
}

input,
button {
  margin-bottom: 16px;
}

canvas {
  position: absolute;
  z-index: -1;
}

.footer {
  position: absolute;
  bottom: 16px;
  padding: 0 16px;
  height: 48px;
  border-radius: 24px;
  background-color: #fffa;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
